<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.infra.mapper.LockInfoMapper">
    
    <resultMap type="LockInfo" id="LockInfoResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="isrs"    column="isrs"    />
        <result property="originator"    column="originator"    />
        <result property="latitude"    column="latitude"    />
        <result property="longitude"    column="longitude"    />
        <result property="lastModification"    column="last_modification"    />
    </resultMap>

    <sql id="selectLockInfoVo">
        select id, name, isrs, originator, latitude, longitude, last_modification from bgv_lock_info
    </sql>

    <select id="selectLockInfoList" parameterType="LockInfo" resultMap="LockInfoResult">
        <include refid="selectLockInfoVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="isrs != null  and isrs != ''"> and isrs = #{isrs}</if>
        </where>
    </select>
    
    <select id="selectLockInfoById" parameterType="Long" resultMap="LockInfoResult">
        <include refid="selectLockInfoVo"/>
        where id = #{id}
    </select>

    <insert id="insertLockInfo" parameterType="LockInfo" useGeneratedKeys="true" keyProperty="id">
        insert into bgv_lock_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">name,</if>
            <if test="isrs != null">isrs,</if>
            <if test="originator != null">originator,</if>
            <if test="latitude != null">latitude,</if>
            <if test="longitude != null">longitude,</if>
            <if test="lastModification != null">last_modification,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null">#{name},</if>
            <if test="isrs != null">#{isrs},</if>
            <if test="originator != null">#{originator},</if>
            <if test="latitude != null">#{latitude},</if>
            <if test="longitude != null">#{longitude},</if>
            <if test="lastModification != null">#{lastModification},</if>
         </trim>
    </insert>

    <update id="updateLockInfo" parameterType="LockInfo">
        update bgv_lock_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null">name = #{name},</if>
            <if test="isrs != null">isrs = #{isrs},</if>
            <if test="originator != null">originator = #{originator},</if>
            <if test="latitude != null">latitude = #{latitude},</if>
            <if test="longitude != null">longitude = #{longitude},</if>
            <if test="lastModification != null">last_modification = #{lastModification},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteLockInfoById" parameterType="Long">
        delete from bgv_lock_info where id = #{id}
    </delete>

    <delete id="deleteLockInfoByIds" parameterType="String">
        delete from bgv_lock_info where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>